<div class="container flex-container flex-justify-center event-{{ index }}">
    <div class="content flex-container flex-column">
        <div class="info">
            <div class="left">
                <h1>{{ activity.title }}</h1>
                <h2><mat-icon> location_on</mat-icon> {{ activity.location }}</h2>
            </div>
            <div class="right">
                <p id="date"><mat-icon>today</mat-icon> {{ activity.date.weekDay }} {{ activity.date.month }}-{{ activity.date.day }} <mat-icon>timer</mat-icon> {{ activity.date.hour }}:{{ activity.date.minutes }}</p>
            </div>
        </div>
        <div class="description">
            <p class="first-p">{{ activity.description.firstParagraph }}</p>
            <div *ngFor="let el of activity.description.sections">
                <h2>{{ el.title }}</h2>
                <p>{{ el.description}}</p>
            </div>
        </div>
    </div>
</div>