@import 'src/scss/main';

.container {
    padding: 10em;
    .content {
        .review {
            width: 80vw;
            margin-bottom: 2em;
            position: relative;
            .top {
                margin-bottom: 1em;
                margin-right: 5em;
            }
            img {
                width: 150px;
                height: 150px;
                border-radius: 50%;
                object-fit: cover;
            }
            .nickname {
                font-weight: 700;
            }
            .rating {
                position: absolute;
                bottom: 0; 
                right: 0;
            }
            .bottom {
                align-self: center;
                width: 80%;
            }
        }
    }
}