<header class="flex-container flex-justify-space-between flex-align-center container color-white">
        <div class="logo">
            <h1 id="logo">Urban Nest</h1>
        </div>
        <div class="navbar">
            <ul class="flex-container flex-justify-space-between">
                <li class="m-3" *ngFor="let el of menuItems" >{{ el }}</li>
            </ul>
        </div>
        <div class="navbar-phone">
            <mat-icon>menu</mat-icon>
            <ul class="flex-container flex-justify-space-between not-visible">
                <li class="m-3" *ngFor="let el of menuItems" >{{ el }}</li>
            </ul>
        </div>
</header>