<header class="flex-container flex-justify-space-between flex-align-center container">
        <div class="logo" (click)="onPageChange(0)">
            <h1 id="logo">Urban Nest</h1>
        </div>
        <div class="navbar">
            <ul class="flex-container flex-justify-space-between">
                <li class="m-3" *ngFor="let el of menuItems"  (click)="onPageChange(menuItems.indexOf(el) + 1)" [ngClass]="el == 'Booking' && bookingService.bookingNotNull() && !bookingService.showed ? 'booked' : ''" >{{ el }}</li>
            </ul>
        </div>
        <div class="navbar-phone">
            <mat-icon (click)="menuOpen = true">menu</mat-icon>
            <div class="flex-container flex-align-center phone-menu" [ngClass]="menuOpen ? 'visible' : 'not-visible'">
                <mat-icon (click)="menuOpen = false; onPageChange(0)">close</mat-icon>
                <div (click)="menuOpen = false"><mat-icon>home</mat-icon><em class="uppercase">Home</em></div>
                <div (click)="menuOpen = false" *ngFor="let el of menuItems" (click)="onPageChange(menuItems.indexOf(el) + 1)"><mat-icon>{{matIcons[menuItems.indexOf(el)]}}</mat-icon><em class="uppercase">{{ el }}</em></div>
            </div>
        </div>
</header>