@import 'src/scss/main';

header {
    height: 10vh;
    background-color: $header-background-color;
    text-transform: uppercase;
    backdrop-filter: blur(8px);
    position: fixed;
    top: 0;
    padding: 1em;
    z-index: 1000;
    #logo {
        margin: 0;

        &:hover {
            cursor: pointer;
        }
    }

    .booked {
        position: relative;
        &::after {
            content: '+1';
            padding: 1px 3px;
            background-color: orange;
            color: white;
            font-size: .5em;
            border-radius: 50%;
            position: absolute;
            top: 0;
            right: -1em;

        }
    }

    .navbar {
        ul {
            li {                
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
    .navbar-phone {
        display: none;
    }
}

@media(max-width: 700px) {
    header {
        .navbar {
            display: none;
        }
        .navbar-phone {
            display: block;
            mat-icon {
                font-size: 1.5em;
            }
            .visible {
                display: flex;
                min-height: 100vh;
                width: 100vw;
                position: absolute;
                top: 0; 
                left: 0;
                background-color: white;
                color: $body-text-color;
                & > mat-icon {
                    position: absolute;
                    top: 1em;
                    right: -2.5em;
                }
                & > * {
                    width: 50%;
                    position: relative;
                    text-align: center;
                    mat-icon {
                        position: absolute;
                        top: 0;
                        left: 50%;
                        display: block;
                        transform: scale(2);
                    }
                    em {
                        position: relative;
                        top: 2.5em;
                    }
                }
            }
            .not-visible {
                display: none;
            }
        }
    }
}