@import 'src/scss/main';

.container {
    background-image: url('../../../assets/homepage/bg-homepage.jpg');
    background-color: rgba(0, 0, 0, .30);

    .menu {
        width: 110%;
        position: relative;
        top: 50px;
        border: 2px solid white;
        border-left-width: 0px;
        border-right-width: 0px;
        li {
            transition: all .3s;
            border-bottom: 1px solid transparent;
            &:hover {
                border-bottom: 1px solid white;
                cursor: pointer;
                text-shadow: 1px 0 white;
            }
        }
    }
}

@media(max-width: 700px) {
    .container {
        .menu {
            display: none;
        }
    }
}