@import 'src/scss/main';

.container {
    position: relative;
    background-color: #FFB266;
    h1 {
        position: absolute;
        top: 2em;
        text-align: center;
    }
    .content {
        margin-top: 2em;
        .review {
            width: 60%;
            padding: 3em;
            em, mat-icon {
                transition: all .3s;
            }
            .rating {
                color: white;
                position: relative;
            }
            &:hover {
                cursor: default;
                em, * > mat-icon {
                    display: inline-block;
                    margin: 1em;
                    transform: scale(1.3);
                    text-align: center;
                }
                .rating {
                    position: absolute;
                    left: 50%;
                    width: 60%;
                    transform: translateX(-50%);
                }
            }
        }
        .review:nth-child(even) {
            text-align: right;
            transform: translateX(25%);
        }
        .review:nth-child(odd) {
            transform: translateX(-25%);
        }
    }
}

@media(max-width: 700px) {
    .container {
        padding: 6em 0 0;
        .content {
            .review {
                width: 100%;
            }
            .review:nth-child(odd), .review:nth-child(even) {
                transform: translateX(0);
            }
        }
    }
}