@import 'src/scss/main';

.container {
    color: white;
    position: relative;
    background-image: url('../../../../assets/homepage/bg-accomodation.jpg');
    background-color: rgba(255, 255, 255, .50);
    background-blend-mode: lighten;
    h1 {
        position: absolute;
        top: 2em;
        text-align: center;
    }
    .content {
        .accommodation {
            width: 80vw;
            min-height: 70vh;
            background-color: #F4F5F6;
            margin-top: 7em;
            color: #333;
            .room {
                width: 40%;
                position: relative;
                p {
                    width: 75%;
                    text-align: justify;
                    margin-top: 1em;
                }
                h2 {
                    padding-bottom: .5em;
                    border-bottom: 1px solid black;
                }
                .availability {
                    position: absolute;
                    right: 0;
                    bottom: 25%;
                    font-weight: 500;
                    font-size: 3rem;
                    mat-icon {
                        transform: scale(150%);
                        position: relative;
                        left: 1em;
                        top: -.2em;
                    }
                }
            }
        }
    }
}

@media(max-width: 700px) {
    .container {
        .content {
            margin: 3em 0;
            .accommodation {
                width: 90%;
                padding-top: 2em;
                .room {
                    width: 80%;
                    p {
                        width: 50%;
                    }
                    .availability {
                        right: .5em;
                    }
                }
            }
        }
    }
}