@import 'src/scss/main';

.container {
    position: relative;
    background-color:#B68AFF;
    padding: 10em 0 3em;
    .content {
        color: white;

        ul {
            padding-left: 10vw;
            li {
                width: 40%;
                margin: 3em;
                & > * {
                    color: white;
                }
            }
        }
        
        h3 {
            margin: 3em;
        }
    }
}
.bg-white {
    background-color: white;
    .page-h1 {
        padding-top: 1em;
    }
    .content {
        ul {
            li {
                & > * {
                    color: $body-text-color;
                }
            }
        }

        h3 {
            color: $body-text-color;
        }
    }
}

@media(max-width: 700px) {
    b {
        display: block;
    }
}