@import 'src/scss/main';

.container {
    background: linear-gradient(to bottom, #3498db, #1a5276);
    background-attachment: fixed;
    padding: 10em;
    .content {
        width: 80vw;
        .big {
            font-size: $extra-large-font-size;
        }
        .activities {
            margin-bottom: 2em;
        }
    }
}