<div class="container flex-container flex-justify-center flex-align-center {{ hostel.location.toLowerCase() }}">
    <div class="content flex-container flex-justify-center flex-align-center location">
        <div class="content flex-container flex-justify-space-between">
            <div class="left">
                <h1 id="{{ hostel.location.toLowerCase() }}-h1">{{ hostel.location }}</h1>
                <p *ngFor="let description of hostel.description">{{ description }}</p>
                
            </div>
            <div class="right flex-container flex-justify-center">
                <div class="images flex-container flex-justify-space-around flex-align-center flex-column">
                    <img *ngFor="let img of hostel.images" src="assets/activities/{{ img }}"/>
                </div>
                <div class="facilities flex-container">
                    <h2>All Urban Hostel Facilities</h2>
                    <ul class="flex-container flex-column">
                        <li *ngFor="let el of service.getCommonFacilities"><em>{{ el }}</em></li>
                    </ul>
                </div>
                <div class="facilities flex-container">
                    <h2>{{ hostel.location }} Urban Hostel facilities</h2>
                    <ul class="flex-container flex-column">
                        <li *ngFor="let el of hostel.facilities"><em>{{ el }}</em></li>
                    </ul>
                </div>
                <div class="rating">
                    <h2>Rating</h2>
                    <div class="stars color-black">
                        <mat-icon *ngFor="let el of rating">star</mat-icon><p class="d-inline">{{ hostel.rating }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>